:root {
    --k-color-1: chartreuse;
    --k-color-2: rgb(113, 190, 36);
    --k-color-3: olive;
    --k-color-4: rgb(54, 54, 54);
}

.k-color-1 {
    color: var(--k-color-1) !important;
}

.k-color-2 {
    color: var(--k-color-2) !important;
}

.k-color-3 {
    color: var(--k-color-3) !important;
}

.k-bg-1 {
    background-color: var(--k-color-1) !important;
}

.k-bg-2 {
    background-color: var(--k-color-2) !important;
}

.k-bg-3 {
    background-color: var(--k-color-3) !important;
}

.k-bg-4 {
    background-color: var(--k-color-4) !important;
}


/* Border */
.k-border-1 {
    border: 1px solid var(--k-color-1) !important;
}

.k-border-2 {
    border: 1px solid var(--k-color-2) !important;
}

.k-border-3 {
    border: 1px solid var(--k-color-3) !important;
}

.k-border-4 {
    border: 1px solid var(--k-color-4) !important;
}

/*
animation: rotating 8s linear infinite;
*/
.k-rotating-8{
    animation: rotating 8s linear infinite;
}
@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}